<section class="backgroundporto">
     <div class="container">
          <div class="row">
                <div class="scrolls active"> 
                     <div class="items">
                      <!-- <div class="col-md-12 col-sm-12 text-left"> </br></br> </div -->
                         <div class="col-md-12 col-sm-6 text-justify">

                             <h1 class="grandtitre2v2">  
                                </h1>

                                <p> ></p>
                          </div>


                    <div class="col-md-4 col-sm-6 text-align">
                       <button data-content="Curious?"> Savoir faire </button>  
                            <p> 
                    </div>

                    <div class="col-md-4 col-sm-6 text-justify">
                        <button data-content="Curious?"> Logiciels utilisés </button>  
                            <p class="lightou"> </p>
                   </div>                       


        </div>
    </div>
  </div>
</div>
</section>
