<footer>
	<nav class="footer-social-icons">
		<ul class="social-icons">
			<li><a href="mailto:sonia.hammou@gmail.com"><i class="fa fa-google"></i></a></li>
			<li><a href="https://fr.linkedin.com/public-profile/in/sonia-hammou-b02934186?trk=people-guest_people_search-card&challengeId=AQGvBBxlYHQnnQAAAXQhzaXX5M2aR8fUAnnWIcWgsLfmvy_0MbthKf6yWSow9iTRHpPlv9wDYqgq-ZRoLauGnYUBG-OdVC7UJQ&submissionId=c15eec1e-cc48-2e16-6da7-6c54d368eb4c" class="social-icon"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="https://www.instagram.com/mlle_s_design/" class="social-icon"><i class="fa fa-github"></i></a></li>
		</ul>
	</nav>
	
	<div class="footer_wrapper">
		<section>
			<h5 class="footer_title">GRAPHISTE</h5>
			<p class="footer_content">Ma priorité est de mener à bien vos projets ! <br>Je réalise<strong> tous supports de communication print et numérique.</strong>
			</p>
		</section>

		<section>
			<h5 class="footer_title">ILLUSTRATRICE</h5>
			<p class="footer_content">Vous avez besoin d'une illustratrice pour votre projet ? <br>Nous pouvons le construire selon vos objectifs.</p>
		</section>
	</div>

<section class="footer_mentions_infos">
		<p><a href="sonia-hammou-graphiste-mentions-legales.html">Mentions légales</a></p>
		<p>© Copyright Sonia Hammou 2019-2024 | Tous droits réservés.</p>
</section>
</footer>
