<header>
	<nav id="main_navbar">
		<ul>
			<li>
				<a href="./index.php">Sonia Hammou</a>
			</li>
		</ul>

		<ul>
			<li><a href="sonia-hammou-graphiste-a-propos.php">A propos</a></li>
			<li><a href="sonia-hammou-graphiste-aix-en-provence-marseille-realisations.php">Graphisme</a></li>
			<li><a href="sonia-hammou-illustration-graphiste-aix-en-provence-marseille.php">Illustrations</a></li>
			<li><a href="sonia-hammou-graphiste-contact.php">Contact</a></li>
		</ul>
	</div>
</nav></header>
