
/* ---- TYPO ----- */

h4 {
    font-size: 60px;
    font-family: 'Playfair Display SC', serif;
    color: black;
    margin-bottom: 10px;
}

h5 {

    font-size: 12px;
    font-family: Roboto Mono, monospace;
text-transform: uppercase;
letter-spacing: .3rem;
color: #ffae00;

}

/* ---- NAV BAR ----- */

#main_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #01135d;
    color: white;
    position: fixed;
    top:0;
    width: 100%;
    padding :20px;
    z-index: 10;
}


#main_navbar li {
    margin: 0 20px;
    padding: 0 4px;
}
/* ---- FIN NAV BAR ----- */




/* ---------- Home content------ */
.main_home_content  {
    display: flex;
    font-family: 'work sans';
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main_home_content_button{
    border: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    background-color: #f6bf00;
    padding: 15px 50px;
    margin: 10px ;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
 
.main_home_content_button:hover {
    background-color: #000e3d;
}


.main_title {
    font-size: 40px;
    font-family: 'Playfair Display SC', serif;
    color:#01135d; 
    text-align: center;
}
   

.home_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.main_home_section-projet {
    background: #fed049;
    width: 100%;
    height: 50%;


}



/* -------  PROJECT CONTENT ----- */

.project_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 20px;
}


.project_header p{
    letter-spacing: 0.7px;
    color: black;
    font-family: 'work sans', sans-serif;
    font-size :15px;
    text-align:center;
      
}

.project_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border : solid 2px red; */
}
    
    

/* -------  GALLERY MINIATURE ----- */
.galery-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gallery-item  {
    position: relative;
    width: 30%;
    height: 50%;
    background: #3d3a3a;
    cursor: pointer;
    overflow: hidden;
    scale : 1;
}


.gallery-item_caption{
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: #ebe2df;
    text-transform: uppercase;
    font-size: 1.27em;
    padding:1em;

}

.gallery-item h2 {
    overflow: hidden;
}
  
  
  
.gallery-item h2 {
    position: relative;
    margin: 0;
    margin-bottom: 5px;
    letter-spacing: 0.7px;
    color: white;
    font-family: 'work sans', sans-serif;
    font-size :20px ;
  
}
  
.gallery-item p {
    letter-spacing: 1px;
    font-size: 48%;
    padding: 0em 0;
    opacity: 0;
  
}

.gallery-item:hover p {
    opacity: 1;
    /* transition: all 0.60s ease-out; */
}


  
.gallery-item  img {
    opacity: 60%;
    width: 100%;
    height: 100%; 
    transition: all 0.60s ease-in;
    /* transform: scale(1.2, 1.2); */

}

.gallery-item:hover img {
    opacity: .3;
    transition: all 0.60s ease-out;
    transform: scale(1.1, 1.1);
    overflow: hidden;
  
}
  
.gallery-item .gallery-item-caption {
    text-align: left;
}
  
.gallery-item h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 1px;
    background: #ebe2df;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.60s ease-out;
}
  
.gallery-item:hover h2::after {
    transform: translate3d(0, 0, 0);

}
  

/*---------------------------------------
   Project by ID             
-----------------------------------------*/

 /* -------SECTION HEADER----------  */

.header_show_project{
    width: 100%;
    height:60%;
    padding:0 30%;
    background-color: #01104d;
    color : white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}


.header_show_project > header,
.header_show_project > section {
    padding: 20px; 

}

.header_show_project-main-title h1 {        
    font-size: 60px;
   font-family: 'Playfair Display SC', serif;
   color: white;
   margin:0;

}

.header_show_project-paragraph {        
  padding:5px 0px;
  font-family: sans-serif;
  font-size: 14px;
  font-family: 'work sans', sans-serif;
  color: grey;
  font-weight: 400;
}


.header_show_project-infos{
    display: flex;

}

.header_show_project-infos > section:nth-child(1),
.header_show_project-infos > section:nth-child(2) {    
        padding-right:22px;
}

/* ----------- MAIN SECTION ----------- */

/*TODO MODIFIER LE NOM DES CLASS*/
.titreso2 {
    font-size: 40px;
   letter-spacing: 0.5px;
   font-family: 'Playfair Display SC', serif;
   color: black;
   }


   .ti{
    background-color: transparent;
  border: none;
  padding: 0;
  font-family: Roboto Mono, monospace;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 800;
  color: #3E3331;
  margin-left: 3px;
  position: relative;
  cursor: pointer;

}

.savoir-faire{
    color:#fed049;
    font-weight: 400;
    }

/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    background-color:#01135d;
    font-family : 'work sans';
    width: 100%;
    position: relative;
    padding-top:20px;
    bottom: 0;
}

.footer_title{
    color: #fed049;
    text-transform: uppercase;
}

.footer_content{
    color:white;
}


.footer_wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}

.footer_mentions_infos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    background-color: rgb(2, 8, 65);
    color:grey;
 
}

/* ------ Social icon ------ */

.footer-social-icons {
    display:flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    color: #fff;
}

.social-icons a {
    color: #fff;
}

.fa{
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #e94b64;
}

.fa-google:hover {
    background-color: #f9bb2d;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-github:hover {
    background-color: #5a32a3;
}

/* fin de footer  */