{% extends 'front/base.html.twig' %}


{% block body %}

	<header class="project_header">
		<h4>
			projets.</h4>
		<p>
			Le graphisme ouvre
			<strong class="black">le champs des possibles.<br></strong>
			Voici différents clients issus de secteurs d'activités communs ou différents qui ont fait appel à mes services.</p>
	</header>

		{% include "fragments/_gallery.html.twig" %}


{% endblock %}
